:root {
    --main-color: #353935;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0 1.5rem 1.5rem;
}

/* width */
::-webkit-scrollbar {
    width: .75rem;
}
  
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(163, 161, 161);
    border-radius: .5rem;
}

.logo {
    align-self: center;
    margin-left: 1rem;
}

.navbar-name {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.2rem;
    color: var(--main-color);
}

.navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-element {
    text-decoration: none;
    color: var(--main-color);
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1rem;
    transition: transform 4s;
    transition: color 1s;
}

.hamburger-menu {
    display: none;
}

.menu-container-inactive {
    opacity: 0;
    max-height: 0;
}

.menu-items-inactive {
    pointer-events: none;
}

.menu-break-inactive {
    z-index: -1;
    position: absolute;
}

.menu-container-active {
    opacity: 0;
    max-height: 0;
}

.nav-element:hover {
    transform: scale(1.05,1.05);
    color: #f6cc0f;
}

.navbar-text{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.home {
    background-image: url("images/page\ background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-title-greeting {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
    color: var(--main-color);
    text-align: center;
}

.intro-title-name {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
}

.intro-note {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 100;
    color: var(--main-color);
    text-align: center;
}

.intro-projects-button {
    background-color: #f6cc0f;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    color: var(--main-color);
    font-family: 'Source Sans Pro', sans-serif;
    transition: 1s;
}

.intro-projects-button:hover {
    transform: scale(1.05);
}

.about-me {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.links-container{
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    gap: 0.1rem;
}

.resume-button {
    background-color: #f6cc0f;
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    color: var(--main-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.about-me-title{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25rem;
    padding-top: 3rem;
    color: var(--main-color);
}

.about-me-p {
    font-family: sans-serif;
    font-size: 1.25rem;
    padding: 1rem 10rem 1rem 10rem;
    line-height: 3rem;
    color: var(--main-color);
    text-align: center;
}

.work-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fefefe;
    padding-bottom: 3rem;
    padding-top: 4rem;
}

.work-experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 82%;
    padding-bottom: 2rem;
}

.work-experience-title {
    margin-block-start: 0em;
    margin-block-end: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25rem;
    padding-top: 3rem;
    color: var(--main-color);
}

.work-container {
    font-family: Source Sans Pro, sans-serif;
    color: black;
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 2.5rem;
    border-radius: .5rem;
    width: 66vw;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px -15px;
}

.work-title {
    font-size: 1.75rem;
}

.work-title > b{
    color: rgb(234, 196, 10);
}

.work-duration {
    font-family: sans-serif;
    font-size: 1.25rem;
}

.work-list {
    list-style: none;
    padding-inline-start: 0;
    line-height: 2rem;
}

.work-list-item {
    font-family: sans-serif;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 1rem;
}

li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(255, 204, 0);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 7rem;
}

.project-title {
    margin-block-start: 3rem;
    margin-block-end: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--main-color);
    text-align: center;
}

.project-item {
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    font-family: Source Sans Pro, sans-serif;
    max-width: 500px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px -15px;
    transition: transform 1s;
}

.project-item:hover {
    transform: scale(1.05)
}

.project-item-link {
    text-decoration: none;
}

.project-item-image {
    width: 500px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.project-item-title {
    padding-left: 2rem;
    font-size: 1.5rem;
    color: #353935;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.project-item-description {
    padding-left: 2rem;
    font-size: 0.9rem;
    margin-block-start: 0;
    color: rgb(88, 96, 105);
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 6rem;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-bottom: 6rem;
}

.skills-title {
    margin-block-start: 0em;
    margin-block-end: 3rem;
    font-family: Source Sans Pro, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 5rem;
    color: var(--main-color);
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.skill-label {
    color: var(--main-color);
    font-family: Source Sans Pro, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 6rem;
}

.contact-title {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: Source Sans Pro, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 3rem;
    color: var(--main-color);
}

.contact-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contact-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-p {
    font-family: Source Sans Pro, sans-serif;
    font-size: 1.25rem;
    padding-top: 1rem;
    color: var(--main-color);
}

.contact-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid lightgray;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px -15px;
}

.contact-label {
    color: #676464;
    margin-top: 1.5rem;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.contact-input::placeholder {
    color: gray;
    font-size: 1rem;
}

.contact-input {
    width: 50vw;
    height: 1.5vw;
    margin-top: .5rem;
    padding: 1.25rem;
    border-radius: .25rem;
    border: solid 1px #ddd;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fafafa;
    font-size: 1rem;
}

.contact-textarea {
    resize: vertical;
    overflow: hidden;
    width: 50vw;
    height: 8vw;
    font-size: 1rem;
}

.submit-button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #f6cc0f;
    width: 20vw;
    height: 4.5vw;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    color: var(--main-color);
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 9vw;
    background-color: black;
}

.copyright {
    color: white;
    font-size: 1rem;
    font-family: Source Sans Pro, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.copyright+.footer-links{
    margin-left: 30vw;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-link-item {
    filter: invert(1);
}

.footer-link-item+.footer-link-item{
    margin-left: 1rem;
}

/* phone */
@media only screen and (max-width: 675px) {
    .navbar-text {
        display: none;
    }

    .navbar-container {
        padding: 1rem 0 1rem 1.5rem;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border: none;
        border-radius: 0.25rem;
    }

    .hamburger-icon {
        margin-left: 1rem;
    }

    .menu-container-inactive {
        transition: max-height 1s ease-out;
        max-height: 0;
    }

    .menu-container-active {
        max-height: 600px;
        flex-direction: column;
        opacity: 1;
        transition: max-height 1.5s ease-out, opacity 1s;
    }

    .menu-items-active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 9vw;
        color: #353935;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .menu-items-inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 9vw;
        color: #353935;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        color: transparent;
        transition: color 1s;
        pointer-events: none;
    }

    .menu-items-active:first-child {
        margin-top: .5rem;
    }
    
    .menu-items-inactive:first-child {
        margin-top: .5rem;
    }

    .menu-break-active {
        width: 90%;
    }

    .menu-break-inactive {
        visibility: hidden;
        z-index: 0;
        position: static;
    }

    .intro-title {
        font-size: 3rem;
    }

    .about-me-p {
        padding: 1rem 1rem 1rem 1rem;
    }

    .work-experience {
        padding-left: 0;
    }

    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .project-item-image {
        width: 300px;
    }

    .project-item {
        max-width: 300px;
    }

    .project-item-title {
        padding-left: 1rem;
        font-size: 1.25rem;
    }

    .project-item-description {
        padding-left: 1rem;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
    }

    .contact-form {
        width: 100%;
    }

    .contact-label {
        margin-left: 0rem;
    }

    .contact-input {
        margin-left: 0rem;
    }

    .submit-button {
        height: 3rem;
        width: 12rem;
    }

    footer {
        flex-direction: column-reverse;
        height: 18vw;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .copyright+.footer-links{
        margin-left: 0;
        margin-bottom: .5rem;
    }
}

/* tablet */
@media only screen and (min-width: 675px) and (max-width: 950px) {
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .navbar-container {
        padding: 1rem 0 1rem 1.5rem;
    }

    .navbar-text {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border: none;
        border-radius: 0.25rem;
    }

    .hamburger-icon {
        margin-left: 1rem;
    }

    .menu-container-inactive {
        transition: max-height 1s ease-out;
        max-height: 0;
    }

    .menu-container-active {
        max-height: 600px;
        flex-direction: column;
        opacity: 1;
        transition: max-height 1s ease-out, opacity 1s;
    }

    .menu-items-active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7vw;
        color: #353935;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .menu-items-inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 9vw;
        color: #353935;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        color: transparent;
        transition: color 1s;
        pointer-events: none;
    }

    .menu-items-active:first-child {
        margin-top: .5rem;
    }
    
    .menu-items-inactive:first-child {
        margin-top: .5rem;
    }

    .menu-break-active {
        width: 90%;
    }

    .menu-break-inactive {
        visibility: hidden;
        z-index: 0;
        position: static;
    }

    .skills-container {
        width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .work-experience {
        padding-left: 0;
    }

    .about-me-p {
        padding: 1rem 1rem 1rem 1rem;
    }

    .submit-button {
        height: 6vw
    }
}

@media only screen and (min-width: 950px) and (max-width: 1075px) {
    .nav-element {
        font-size: .9rem;
        padding-right: 1.5rem;
    }
}